@{
    ViewData["Title"] = "Home page";
}
<script src="~/js/country-states.js"></script>

<div class="row">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Message"]
        </div>
    }
    <div class="col-md-7">
        <div class="card" style="border:0px; border-radius:20px">
            <div class="card-body p-4">
              
                <span class="fw-bold lh-lg">
                    अग्रवाल प्रगति ट्रस्ट, सूरत का मुख्य उद्देश्य है कि भारत के 135 crore भारतीयों को और विदेशों में बसने वाले प्रत्येक भारतीयों को संगठित करना है ।
                    महाराजा अग्रसेन के एक ईंट और एक रुपए के सिद्धांत का अनुसरण करते हुए अंतिम पंक्ति में खड़े व्यक्ति को राष्ट्र की मुख्य धारा में लाना है ।
                    महाराजा अग्रसेन जी सम्पूर्ण समाज और राष्ट्र के नायक और राजा थे । केवल जाति विशेष के नहीं ।
                    महाराजा अग्रसेन जी समाजवाद, लोकतंत्र और अहिंसा के प्रहरी थे ।
                </span>

                <h4 class="fw-bold">महाराजा अग्रसेन जी के जयन्ती शुभ अवसर पर</h4>
                <h4 style="color:brown">                    
                   <br/> अखिल भारतीय ऑनलाइन प्रतियोगिता<br />
                    (महाराजा अग्रसेन जी और अग्रवालों पर आधारित )
               </h4>
               <h5 class="fw-bold">नियम:-</h5>
                <ol class="fw-bold lh-lg">                    
                   <li>इस प्रतियोगिता में भारत के 135 crore  लोग भाग ले सकते हैं । इतना ही नहीं, विदेशों में बसने वाला प्रत्येक भारतीय भी भाग ले सकता है । चाहे उसका जन्म विदेश में हुआ हो ।</li>
                   <li>यह प्रतियोगिता <span class="fw-bold" style="color:brown;">25 September, 2022</span> , रविवार को साँयकाल 4.00 बजे होगी । प्रतियोगिता के लिए आधे घंटे का समय दिया जाएगा ।</li>
                   <li>प्रश्न पत्र हिंदी में होगा । आपको sample question paper उत्तर सहित भेजा जा रहा है । इसमें से ही 25 questions पूछे जाएँगे । किंतु घुमा फिराकर पूछे जाएँगे ।</li>
                    <li> प्रथम पुरस्कार राशि 11000 rupaye </li>
                    दिव्तिय पुरुष्कार राशि  7100 rupaye <br/>
                    तृतीय पुरुष्कार राशि।   5100 rupaye <br/>
                    सभी प्रांत और केंद्र शासित में से प्रथम आने वाले को सांत्वना पुरुष्कार 3100-3100 rupaye  का दिया जाएगा ।<br/>
                    सबसे पहले और सबसे ज़्यादा marks प्राप्त करने वाले प्रतिभागी को ही पुरुष्कार मिलेगा ।
                    <li>निर्णायकों का निर्णय अंतिम एवं सर्वमान्य होगा ।</li>
                </ol>

                <h4 style="color:brown">
                    एकल अभियान <br />
                    एकल श्रीहरि सत्संग समिति
                </h4>
                <h5 class="fw-bold">Exotica की विशेषताएँ:</h5>
                <ol class="fw-bold lh-lg">
                    <li>Destination Marriage के लिए बहुत ही उपयुक्त भवन ।</li>
                    <li>Business exihibition के लिए सर्वश्रेष्ठ स्थान ।</li>
                    <li>एक साथ 350 लोग ठहर सकते हैं ।</li>
                    <li>दो बड़े बड़े हॉल है । ज़्यादा सजावट की जरूरत नहीं है ।</li>
                    <li>Airport से पाँच मिनिट में भवन पर पहुँच सकते हैं ।</li>
                    <li>सूरत के भव्य sea beach पर 7  मिनिट में पहुँच सकते हो ।</li>
                    <li>भारत में सुप्रसिद्ध सूरत में स्थित श्याम बाबा का मंदिर, अम्बा माँ का मंदिर , मेहंदीपुर बालाजी और राणी सती आदि मंदिर के दर्शन एक घंटे में कर सकते हो ।</li>
                    <li>भारत में सुप्रसिद्ध सूरत में स्थित श्याम बाबा का मंदिर, अम्बा माँ का मंदिर , मेहंदीपुर बालाजी और राणी सती आदि मंदिर के दर्शन एक घंटे में कर सकते हो ।</li>
                    <li>agra exotica में घर जैसा वातावरण मिलेगा ।</li>
                    <li>पार्किंग की कोई समस्या नहीं है ।</li>
                    <li>विश्व का सबसे बड़ा diamond hub तैयार हो गया है जो कि देखने लायक़ है ।</li>
                    <li>agra एक्षोटिका का किराया भी बहुत ही उचित ।</li>

                </ol>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card" style="border:0px; border-radius:20px">
            <div class="card-body p-2">
                <form method="post" asp-controller="Home" asp-action="Signup">
                    <div class="container">
                        <h1>Registration</h1>
                        <p>Please fill in this form to start the test.</p>
                        <hr>

                        <label for="Name"><b>Name</b></label>
                        <input type="text" placeholder="Enter full name" name="Name" required>

                        <label for="Mobile"><b>Mobile</b></label>
                        <input type="number" maxlength="10" placeholder="Enter Mobile" name="Mobile" required>

                        <label for="Address"><b>Address</b></label>
                        <input type="text" placeholder="Enter Address" name="Address">


                        <label for="Country"><b>Country</b></label>
                        <select id="country" name="Country">
                            <option>select country</option>
                        </select>
                        <label for="State"><b>State</b></label>
                        <span id="state-code" name="State">
                            @*<input type="text" name="State" id="state">*@
                        </span>


                        <div class="clearfix">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // user country code for selected option
    let user_country_code = "IN";

    (function() {
        // script https://www.html-code-generator.com/html/drop-down/country-region

        // Get the country name and state name from the imported script.
        let country_list = country_and_states['country'];
        let states_list = country_and_states['states'];

        // creating country name drop-down
        let option = '';
        option += '<option>select country</option>';
        for (let country_code in country_list) {
            // set selected option user country
            let selected = (country_code == user_country_code) ? ' selected' : '';
            option += '<option value="' + country_code + '"' + selected + '>' + country_list[country_code] + '</option>';
        }
        document.getElementById('country').innerHTML = option;

        // creating states name drop-down
        let text_box = '<input type="text" class="input-text" id="state">';
        let state_code_id = document.getElementById("state-code");

        function create_states_dropdown() {
            // get selected country code
            let country_code = document.getElementById("country").value;
            let states = states_list[country_code];
            // invalid country code or no states add textbox
            if (!states) {
                state_code_id.innerHTML = text_box;
                return;
            }
            let option = '';
            if (states.length > 0) {
                option = '<select id="state" name="state">\n';
                for (let i = 0; i < states.length; i++) {
                    option += '<option value="' + states[i].name + '">' + states[i].name + '</option>';
                }
                option += '</select>';
            } else {
                // create input textbox if no states
                option = text_box
            }
            state_code_id.innerHTML = option;
        }

        // country select change event
        const country_select = document.getElementById("country");
        country_select.addEventListener('change', create_states_dropdown);

        create_states_dropdown();
    })();

</script>




