@model IEnumerable<QuestionModel>

@{
    ViewData["Title"] = "Question Answer";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
        </tr>
}
    </tbody>
</table>
