<div class="text-center">
    <h2> Thank You for registering with us .</h2>
    <div class="col-md-3 text-center">
        <a class="btn btn-info" asp-controller="Home" asp-action="QuestionAnswer">Start Test</a>
    </div>
</div>

