
<div class="card mb-5" style="=border:0px; border-radius: 20px;">
    <div class="card-body">
<section class="section skills">
    <div class="container">
        <div class="row responsive">
            <div class="col-md-12">
                <div class="skills_section text-center">
                    <div class="skill-head">
                        <h1>
                            Result
                        </h1>
                    </div>

                    <div class="skills-area">
                        <div class="single-skill">
                            <div class="circlechart" data-percentage="70">
                                <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
                                    <circle class="circle-chart__circle success-stroke" stroke-dasharray="70,100" cx="16.9" cy="16.9" r="15.9"></circle>
                                    <g class="circle-chart__info">
                                        <text class="circle-chart__percent" x="17.9" y="15.5">70%</text><text class="circle-chart__subline" x="16.91549431" y="22">
                                            Coorect Answer
                                        </text>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="single-skill">
                            <div class="circlechart" data-percentage="30">
                                <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
                                    <circle class="circle-chart__circle danger-stroke" stroke-dasharray="30,100" cx="16.9" cy="16.9" r="15.9"></circle>
                                    <g class="circle-chart__info">
                                        <text class="circle-chart__percent" x="17.9" y="15.5">30%</text><text class="circle-chart__subline" x="16.91549431" y="22">
                                            Wrong Answer
                                        </text>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
<script>
    function makesvg(percentage, inner_text = "") {

        var abs_percentage = Math.abs(percentage).toString();
        var percentage_str = percentage.toString();
        var classes = ""

        if (percentage < 0) {
            classes = "danger-stroke circle-chart__circle--negative";
        } else if (percentage > 0 && percentage <= 30) {
            classes = "danger-stroke";
        } else {
            classes = "success-stroke";
        }

        var svg = '<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">'
            + '<circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9" />'
            + '<circle class="circle-chart__circle ' + classes + '"'
            + 'stroke-dasharray="' + abs_percentage + ',100"    cx="16.9" cy="16.9" r="15.9" />'
            + '<g class="circle-chart__info">'
            + '   <text class="circle-chart__percent" x="17.9" y="15.5">' + percentage_str + '%</text>';

        if (inner_text) {
            svg += '<text class="circle-chart__subline" x="16.91549431" y="22">' + inner_text + '</text>'
        }

        svg += ' </g></svg>';

        return svg
    }

    (function ($) {

        $.fn.circlechart = function () {
            this.each(function () {
                var percentage = $(this).data("percentage");
                var inner_text = $(this).text();
                $(this).html(makesvg(percentage, inner_text));
            });
            return this;
        };

    }(jQuery));

    $(function () {
        $('.circlechart').circlechart();
    });
</script>